#inventory, #cart {
  display: flex;  
  justify-content: space-evenly;
  margin-top: 5rem;
}
h1 {
  text-align: center;
}

#status-box {
  background: blue;
  color: yellow;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  font-size: 2em;
}
